* {
    margin: 0;
}

header {
    background: rgb(232, 228, 255);
    padding: 10px;
    margin-bottom: 10px;
}

header a {
    display: flex;
    align-items: center;
}

header span {
    font-size: 40px;
}

main {
    background: rgb(169, 93, 255);
    border: 1px solid black;
    margin: 0 20%;
}

#uploadPreview {
    margin: 0 auto;
    width: 200px;
}

.imageEditingForm {
    padding: 10px;
}

.outsideWrapper {
    border:1px solid blue;
    max-width: fit-content;
}
.insideWrapper {
    position: relative;
}
.coveredImage {
    z-index: 0;
}
.coveringCanvas {
    z-index: 1;

    position: absolute;
    top: 0px;
    left: 0px;
}