<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">

    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='logo.png') }}">
    <title>Klyaksa</title>
</head>

<body>
<header class="header">
    <a>
        <img width="70pt" src="{{ url_for('static', filename='logo.png') }}" alt="Klyaksa">
        <span>Image restore application</span>
    </a>
</header>

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="m-3">
    {% for message in messages %}
    <div class="alert alert-primary">{{ message }}</div>
    {% endfor %}
</div>
{% endif %}
{% endwith %}

<main>
    <div class="p-4">
        <form method="post" enctype="multipart/form-data" class="imageEditingForm">
            <h1>Upload new File</h1>

            <div class="mb-3 row">
                <img id="uploadPreview">
            </div>

            <div class="mb-3 row">
                <label for="images" class="col-3 col-form-label">Editable image</label>
                <div class="col">
                    <input id="images" type="file" name="images" class="form-control col-10" required>
                </div>
            </div>

            <div class="row">
                <div class="col-4 mx-auto">
                    <button type="submit" id="submit_btn" class="btn btn-success w-100">Upload</button>
                </div>
            </div>
        </form>
    </div>

</main>

<script type="text/javascript">
    setPreviewElement(
        document.querySelector('input[name="images"]'),
        document.getElementById('uploadPreview'),
    );
</script>
</body>

</html>