<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">

    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='logo.png') }}">
    <title>Klyaksa</title>
</head>
<body>
<header class="header">
    <a>
        <img width="70pt" src="{{ url_for('static', filename='logo.png') }}" alt="Klyaksa">
        <span>Image restore application</span>
    </a>
</header>

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="m-3">
    {% for message in messages %}
    <div class="alert alert-primary">{{ message }}</div>
    {% endfor %}
</div>
{% endif %}
{% endwith %}

<main>
    <div class="p-4">
        <div class="card mb-3">
            <a href="{{ url_for('image_editor.image_colorize') }}">
<!--                <img class="card-img-top" src="{{ url_for('static', filename='color_example.png') }}" alt="Colorize">-->
                <div class="card-body">
                    <h5 class="card-title">Colorize</h5>
                    <p class="card-text">Color your black and white image.</p>
                </div>
            </a>
        </div>

        <div class="card mb-3">
            <a href="{{ url_for('image_editor.image_upscale') }}">
                <div class="card-body">
                    <h5 class="card-title">Upscale</h5>
                    <p class="card-text">Increases the resolution of your image.</p>
                </div>
            </a>
        </div>

        <div class="card mb-3">
            <a href="{{ url_for('image_editor.image_inpainting') }}">
                <div class="card-body">
                    <h5 class="card-title">Image Inpainting</h5>
                    <p class="card-text">Reconstruction of damaged or missing parts of an image.</p>
                </div>
            </a>
        </div>
    </div>
</main>
</body>
</html>