<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">

    <script src="https://code.jquery.com/jquery-2.1.0.js"></script>

    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='logo.png') }}">
    <title>Klyaksa</title>
</head>

<body>
<header class="header">
    <a>
        <img width="70pt" src="{{ url_for('static', filename='logo.png') }}" alt="Klyaksa">
        <span>Image restore application</span>
    </a>
</header>

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="m-3">
    {% for message in messages %}
    <div class="alert alert-primary">{{ message }}</div>
    {% endfor %}
</div>
{% endif %}
{% endwith %}


<main>
    <div class="p-4">
        <form id="maskForm" method="post" enctype="multipart/form-data">
            <input type="file" name="image">
            <input type="hidden" name="mask">
            <input type="submit" value="Send">
        </form>

        <div class="my-4">
            <p>Line width<input type="number" id="radius" value="1" min="1"/></p>
            <button id="clear-btn">Clear</button>
        </div>


        <div class="outsideWrapper my-4">
            <div class="insideWrapper">
                <img id="preview" class="coveredImage">
                <canvas class="coveringCanvas" id="canvas"></canvas>
            </div>
        </div>
    </div>
</main>


<script>
    const canvas = document.getElementById("canvas")
    const context = canvas.getContext("2d");


    $('#clear-btn').click((e) => {
        context.clearRect(0, 0, canvas.width, canvas.height);
    });

    $('input[name="image"]').change((event)=>{
        console.log(event);

        var reader = new FileReader();
        reader.onload = function(event) {
            /*
            var img = new Image();
            img.onload = function(){
                $('input[name="image"]').wi
                canvas.width = img.width;
                canvas.height = img.height;
                context.drawImage(img, 0, 0);
            }
            img.src = event.target.result;
            */

            var img = new Image();
            img.onload = function(){
                $('input[name="image"]').wi
                canvas.width = img.width;
                canvas.height = img.height;
                preview.src = img.src;
            }
            img.src = event.target.result;
        }
        reader.readAsDataURL(event.target.files[0]);
    });


    $(document).ready(() => {
        let radius = 1;

        $('#radius').change((event) => {
            radius = event.target.value;
            context.lineWidth = radius * 2;
        }).val(radius).trigger('change');

        let draw = false;

        $(canvas).mousedown((e) => {
            // нажатие мыши
            draw = true;
            context.beginPath();
            context.lineCap = "round";
            context.moveTo(e.offsetX, e.offsetY);
        }).mousemove((e) => {
            // перемещение мыши
            if (draw === false) return;
            context.lineTo(e.offsetX, e.offsetY);
            context.stroke();
        }).mouseup((e) => {
            // отпускаем мышь
            if (!draw) return;
            context.lineTo(e.offsetX, e.offsetY);
            context.stroke();
            context.closePath();
            draw = false;
        });
    });

    function DownloadCanvasAsImage() {
            let downloadLink = document.createElement('a');
            downloadLink.setAttribute('download', 'CanvasAsImage.png');

            canvas.toBlob(function (blob) {
                let url = URL.createObjectURL(blob);
                downloadLink.setAttribute('href', url);
                downloadLink.click();
            });
        };

    $("#maskForm").submit((event) => {
        let formData = new FormData();

        let image_file = $('input[name="image"]')[0].files[0];
        formData.append("image", image_file);

        let mask = context.getImageData(0, 0, canvas.width, canvas.height);
        mask =  invert(binarize(opaque(mask)));
        context.putImageData(mask, 0, 0);
        context.putImageData(mask, 0, 0);

        let mask_file = dataURItoBlob(canvas.toDataURL('image/png'));
        // mask_file = new File([mask_file], "name", {type: "image/png"})
        formData.append("mask", mask_file, 'mask.png');

        $.ajax({
           url: window.location.pathname,
           type: "POST",
           processData: false,
           contentType: false,
           cache: false,
           data: formData,
        }).done((result) => {
            console.log(result);
            window.location.replace(result);
        });

        return false;
    });

    function dataURItoBlob(dataURI) {
        // convert base64/URLEncoded data component to raw binary data held in a string
        var byteString;
        if (dataURI.split(',')[0].indexOf('base64') >= 0)
            byteString = atob(dataURI.split(',')[1]);
        else
            byteString = unescape(dataURI.split(',')[1]);
        // separate out the mime component
        var mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0];
        // write the bytes of the string to a typed array
        var ia = new Uint8Array(byteString.length);
        for (var i = 0; i < byteString.length; i++) {
            ia[i] = byteString.charCodeAt(i);
        }
        return new Blob([ia], {type:mimeString});
    }

    function opaque(iamgeData) {
        let data = iamgeData.data;
        for (var i = 0; i < data.length; i += 4) {
            if (data[i + 3] == 0) {
                data[i] = 255;
                data[i + 1] = 255;
                data[i + 2] = 255;
            }
            data[i + 3] = 255;
        }
        return iamgeData;
    }

    function binarize(iamgeData) {
        let data = iamgeData.data;
        for (var i = 0; i < data.length; i += 4) {
            let new_val = 0;
            if (data[i] >= 125) {
                new_val = 255;
            } else {
                new_val = 0;
            }
            data[i] = new_val;
            data[i + 1] = new_val;
            data[i + 2] = new_val;
            data[i + 3] = 255;
        }
        return iamgeData;
    };

    function invert (iamgeData) {
        let data = iamgeData.data;
        for (var i = 0; i < data.length; i += 4) {
            data[i] = 255 - data[i]; // red
            data[i + 1] = 255 - data[i + 1]; // green
            data[i + 2] = 255 - data[i + 2]; // blue
        }
        return iamgeData;
    };

</script>
</body>

</html>