<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="refresh" content="60">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='logo.png') }}">
    <title>Klyaksa</title>
</head>
<body>
<header class="header">
    <a>
        <img width="70pt" src="{{ url_for('static', filename='logo.png') }}" alt="Klyaksa">
        <span>Image restore application</span>
    </a>
</header>

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="m-3">
    {% for message in messages %}
    <div class="alert alert-primary">{{ message }}</div>
    {% endfor %}
</div>
{% endif %}
{% endwith %}

<main>
    <div class="p-4">
        {% if is_complete %}
        <p>Please wait. The image is being processed.</p>
        {% else %}
        <p>The image has been processed.</p>
        <a class="btn btn-success" href="{{ url_for('image_editor.task_result', task_id=task_id) }}">Download</a>
        {% endif %}
    </div>
</main>
</body>
</html>